<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BucketList.jp</title>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
    <link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
</head>

<body>
    <div class="main">
        <div class="header-container">
            <div th:insert="~{nav-bar :: nav-bar}"></div>
        </div>
        <div class="main-container">
            <div class="list-container">
                <legend class="page-title">ユーザー情報</legend>
                <div class="padding-container">
                    <table class="form-table">
                        <tr>
                            <th>名前</th>
                            <td th:text="${name}">ユーザー名</td>
                        </tr>

                        <tr th:each="bucket, iterStat : ${bucketList}">
                            <td>
                                <input type="checkbox" th:id="'bucketCheckbox' + ${iterStat.index}" />
                            </td>
                            <td>
                                No.<span th:text="${iterStat.count}">01</span>
                            </td>
                            <td th:text="${bucket.title}">BucketListのタイトル</td>
                            <td>
                                <a th:href="@{/bucket/edit/{id}(id=${bucket.id})}" class="btn btn-primary">詳細・編集</a>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <br>
                                <a href="./updateInfo.html" th:href="@{/user/toUpdate}">ユーザー情報の変更・退会はこちら</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container"></div>
</body>

</html>
